@import "../../App/App.scss";

.experience {
  display: flex;
  flex-direction: column;

  .mt-20 {
    margin-top: 20px;
  }

  .text-center {
    text-align: center;
  }
}

.sectionHeadText {
  color: orange;
  font-weight: 900;
  font-size: 50px;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;

  @include mobile {
    font-size: 50px;
  }

  @media (max-width: 576px) and (min-width: 320px) {
    font-size: 40px;
  }
}

.sectionSubText {
  font-size: 14px;
  color: var(--text-secondary);
  text-transform: uppercase;
  letter-spacing: 0.1em;

  @include mobile {
    font-size: 18px;
  }
}

.vertical-timeline-element {
  &-content {
    background: #1d1836;
    color: #fff;

    &-arrow {
      border-right: 7px solid #232631;
    }
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 60%;
      height: 60%;
      object-fit: contain;
      border-radius: 50%;
    }
  }
}

.text-white {
  color: white;

  &-100 {
    color: rgba(255, 255, 255, 0.6);
  }
}

.text-secondary {
  color: var(--text-secondary);
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.list-disc {
  list-style-type: disc;
}

.mt-5 {
  margin-top: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.space-y-2 {
  > * + * {
    margin-top: 2px;
  }
}

.pl-1 {
  padding-left: 1px;
}

.tracking-wider {
  letter-spacing: 0.05em;
}
